body{
    margin:0px 0px;
}
/*important*/
*{
    margin: 0px 0px;
    box-sizing: border-box;
}

main{
    line-height: 40px;
    margin:20px 20px;
}

ul{
    list-style-type:none;
    display: grid;
    /*grid-template-columns: 18% 6% ;*/
    grid-template-columns: 3fr 12.5fr 1fr ;
    justify-content: space-between;
    padding-left: 0px;
    color: white;
    background-color: rgb(40,42,53);

}

ul div{
    padding: 15px 20px;
    /*for guide
    border: 1px solid red;*/
}

ul div:hover{
    cursor: pointer;
    background-color: black;

}

.active{
    background-color: rgb(4,170,109) !important;
}



.left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




@media screen and (max-width: 600px) {
    ul{
        grid-template-columns: 100% ;
        text-align: center;
    }
    .left{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
  }
