*{
    padding: 0px 0px;
    margin:0px 0px;
    box-sizing: border-box;
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body{
    background-color: rgb(241,241,241);
    padding: 15px 25px 15px 15px;
    display: grid;
    grid-template-columns: 100%;
    
    /*grid-template-rows: 20vh 66vh 13.3vh;*/
    grid-template-rows: 41.0656vh 135.52vh 16.75vh;

    row-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
/*main-layout*/
header{
    background-color: green;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
}

nav{
    background-color:coral; 
}

main{
    background-color: transparent;
    display: grid;
    grid-template-columns: 22.7fr 6.0fr;
    column-gap: 20px;
}

.main-section{
    background-color:chocolate
}

aside{
    background-color:transparent;
    margin-bottom: 12vh;
    display: grid;
    grid-template-rows: 7fr 8.7fr 4.5fr;
    row-gap: 10px;
    
}

.section-top{
    background-color: aqua;
}

.section-middle{
    background-color: blueviolet;
}

.section-bottom{
    background-color: blue; 
}

.main-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: transparent;
    row-gap: 15px;
}

.main-section-sec1{
    background-color: deeppink;
}

.main-section-sec2{
    background-color:hotpink
}

footer{
    background-color:red
}


/*nav-layout*/
nav{
    display: grid;
    grid-template-columns: 4.5fr 24fr 1.5fr;
    background-color: rgb(51,51,51);
    color: white;
    
}

.nav-left{
    min-width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-left > a{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    background-color: rgb(221,221,221);
    color: black;
}

.nav-right{
    min-width: 60px;
    display: grid;
}

.nav-right > a{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main-section*/

.main-section-sec1,.main-section-sec2{
    background-color: white;
    padding: 20px 20px;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    row-gap: 5px;

}

.top-text{
    background-color: transparent;
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 3px;
}

.img-container{
    background-color: rgb(170,170,170);
    padding: 10px 10px;
}

.bottom-text{
    background-color: transparent;
}


/*aside*/
.section-top{
    display: grid;
    padding: 20px 20px;
    background-color: white;
    grid-template-rows: 30% 50% 20%;
    row-gap: 5px;
}

.aside-img-container{
    background-color: rgb(170,170,170);
    padding: 10px 10px;
}

.section-middle{
    display: grid;
    padding: 20px 20px;
    background-color: white;
    grid-template-rows: 25% 75%;
    row-gap: 5px;
}

.aside-image-container-2{
    background-color: rgb(170,170,170);
    padding: 10px 10px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.section-bottom{
    background-color: white;
    display:grid;
    grid-template-rows: 50% 50%;
    padding: 20px 20px;
    row-gap: 10px;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221,221,221);
    max-height: 107px;
}

/*header*/
.header-text{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    
}

.header-text p{
    margin-top: 5px;
}


/*width<800px*/
@media screen and (max-width: 800px) {
    body{
        grid-template-rows: 41.0656vh 270vh 16.75vh;
    }
    main{
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    aside{
        margin: 0%;
    }
  }

  /*width<400px*/
  @media screen and (max-width: 400px) {
    nav{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4.5fr 0 1.5fr; 
    }

    .nav-left{
        display: grid;
        grid-template-columns: 100%;
    }

  }
